USE [master]
GO
/****** Object:  Database [ecomDB]    Script Date: 5/26/2026 05:43:24 PM ******/
CREATE DATABASE [ecomDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ecomDB', FILENAME = N'C:\Users\pcit86\ecomDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ecomDB_log', FILENAME = N'C:\Users\pcit86\ecomDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ecomDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ecomDB]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Cart_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Created_At] [datetime] NULL,
	[Updated_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cart_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Product] UNIQUE NONCLUSTERED 
(
	[User_Id] ASC,
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](30) NOT NULL,
	[PaymentStatus] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentMethod] [varchar](50) NOT NULL,
	[TransactionId] [nvarchar](100) NULL,
	[Created_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](max) NULL,
	[Category] [varchar](50) NULL,
	[Price] [numeric](18, 2) NULL,
	[Rating] [decimal](3, 2) NULL,
	[Stock] [int] NULL,
	[Brand] [varchar](100) NULL,
	[Images] [varchar](255) NULL,
	[isDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [decimal](3, 2) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsOtpVerified] [bit] NOT NULL,
	[OtpAttempts] [int] NOT NULL,
	[LoginAttempts] [int] NOT NULL,
	[RefreshToken] [nvarchar](200) NULL,
	[RefreshTokenExpiry] [datetime] NULL,
	[LockoutEnd] [datetime] NULL,
	[LastOtpSent] [datetime] NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Address] [nvarchar](255) NULL,
	[OtpCode] [nvarchar](10) NULL,
	[OtpExpiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[WishlistId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Created_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Product_Wishlist] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cart_ProductId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cart_ProductId] ON [dbo].[Carts]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cart_User_Product]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cart_User_Product] ON [dbo].[Carts]
(
	[User_Id] ASC,
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cart_UserId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cart_UserId] ON [dbo].[Carts]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_Order_Product]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_Order_Product] ON [dbo].[OrderItems]
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_ProductId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_ProductId] ON [dbo].[OrderItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CreatedAt]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CreatedAt] ON [dbo].[Orders]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_PaymentStatus]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_PaymentStatus] ON [dbo].[Orders]
(
	[PaymentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_CreatedAt]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_CreatedAt] ON [dbo].[Payments]
(
	[Created_At] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_OrderId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_OrderId] ON [dbo].[Payments]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Status] ON [dbo].[Payments]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_User_Status]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_User_Status] ON [dbo].[Payments]
(
	[UserId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_UserId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_UserId] ON [dbo].[Payments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Product_Filter]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Filter] ON [dbo].[Products]
(
	[Category] ASC,
	[Price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Brand]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Brand] ON [dbo].[Products]
(
	[Brand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Category]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Category] ON [dbo].[Products]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Category_Price_Rating]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Category_Price_Rating] ON [dbo].[Products]
(
	[Category] ASC,
	[Price] ASC,
	[Rating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Name]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Name] ON [dbo].[Products]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Price]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Price] ON [dbo].[Products]
(
	[Price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Rating]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Rating] ON [dbo].[Products]
(
	[Rating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ProductId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ProductId] ON [dbo].[Reviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_Rating]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_Rating] ON [dbo].[Reviews]
(
	[Rating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_UserId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_UserId] ON [dbo].[Reviews]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlist_ProductId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Wishlist_ProductId] ON [dbo].[Wishlists]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlist_UserId]    Script Date: 5/26/2026 05:43:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Wishlist_UserId] ON [dbo].[Wishlists]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsOtpVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [OtpAttempts]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [LoginAttempts]
GO
ALTER TABLE [dbo].[Wishlists] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Order]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Order]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlist_Product]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlist_User]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddOrderItem]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddOrderItem]
    @OrderId INT,
    @ProductId INT,
    @Quantity INT,
    @Price DECIMAL(10,2)
AS
BEGIN
    INSERT INTO OrderItems (OrderId, ProductId, Quantity, Price)
    VALUES (@OrderId, @ProductId, @Quantity, @Price)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProducts]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddProducts]
(
@Name varchar(100),
@Description varchar(255),
@Category varchar(50),
@Price decimal(10,2),
@Stock int,
@Brand varchar(50),
@Images varchar(255)
)
AS 
BEGIN
INSERT INTO Products
(Name,Description,Category,Price,Rating,Stock,Brand,Images)
VALUES
(@Name,@Description,@Category,@Price,0,@Stock,@Brand,@Images)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddReview]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddReview]
    @ProductId INT,
    @UserId INT,
    @Rating DECIMAL(3,2),
    @Comment NVARCHAR(MAX)
AS
BEGIN
IF EXISTS ( SELECT 1 FROM Reviews WHERE UserId = @UserId AND ProductId=@ProductId AND isDeleted = 0)
BEGIN
UPDATE Reviews
SET Rating = @Rating,
Comment = @Comment,
CreatedAt = GETDATE()
WHERE UserId=@UserId AND ProductId=@ProductId AND isDeleted = 0;

SELECT 'Review UPdated' AS MESSAGE;
END
ELSE
BEGIN
    INSERT INTO Reviews(ProductId, UserId, Rating, Comment,CreatedAt)
    VALUES (@ProductId, @UserId, @Rating, @Comment,GETDATE());

	SELECT 'Review Added' AS MESSAGE;
	END

	UPDATE Products
	SET Rating = (	
	SELECT ROUND(ISNULL(AVG(Rating), 0),2)
	FROM Reviews
	WHERE ProductId = @ProductId
	AND isDeleted = 0
	)
	WHERE ProductId = @ProductId
	AND isDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddToWishlist]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddToWishlist]
    @UserId INT,
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Prevent duplicate
    IF NOT EXISTS (
        SELECT 1 FROM Wishlists 
        WHERE UserId = @UserId AND ProductId = @ProductId
    )
    BEGIN
        INSERT INTO Wishlists (UserId, ProductId)
        VALUES (@UserId, @ProductId);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AverageReviews]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AverageReviews]
    @ProductId INT
AS
BEGIN
    UPDATE Products
    SET Rating = (
        SELECT AVG(CAST(Rating AS DECIMAL(3,2)))
        FROM Reviews
        WHERE ProductId = @ProductId
    )
    WHERE ProductId = @ProductId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOrder]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateOrder]
    @UserId INT,
    @TotalAmount DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Orders (UserId, TotalAmount)
    VALUES (@UserId, @TotalAmount)

    SELECT SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProducts]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteProducts]
@ProductId INT
AS 
BEGIN

IF EXISTS(SELECT 1 FROM Products WHERE ProductId = @ProductId AND isDeleted=0)
BEGIN
UPDATE Products
SET isDeleted = 1
WHERE ProductId = @ProductId AND isDeleted = 0

UPDATE Reviews
SET isDeleted = 1
WHERE ProductId = @ProductId AND isDeleted = 0
END

ELSE
BEGIN
SELECT 'Product Not found' AS Message
END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteReview]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteReview]
@UserId int,
@ProductId int
AS
BEGIN
UPDATE Reviews
SET isDeleted = 1
WHERE UserId = @UserId AND ProductId= @ProductId AND isDeleted = 0;

UPDATE Products
SET Rating = (
    SELECT ROUND(ISNULL(AVG(Rating),0),2)
    FROM Reviews
    WHERE ProductId = @ProductId
	AND isDeleted = 0
)
WHERE ProductId = @ProductId
AND isDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllProducts]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllProducts]
(
    @Page INT = 1,
    @PageSize INT = 8
)
AS
BEGIN
       SET NOCOUNT ON;
SELECT 
P.ProductId,
P.Name,
P.Description,
P.Category,
P.Price,
 ISNULL(P.Rating, 0) AS Rating,
P.Stock,
P.Brand,
P.Images,

    (
        SELECT COUNT(*)
        FROM Reviews R
        WHERE R.ProductId = P.ProductId
        AND R.isDeleted = 0
    ) AS TotalReviews
 FROM Products AS P
 WHERE P.isDeleted=0
    ORDER BY P.ProductId
    OFFSET (@Page - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
 END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCartById]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCartById]
@UserId int
AS
BEGIN
SELECT 
C.Product_Id,
P.Name,
P.Price,
C.Quantity,
P.Images
FROM Carts AS C
INNER JOIN Products AS P
ON C.Product_Id=P.ProductId
WHERE C.User_Id=@UserId
AND P.isDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInvoiceByOrderId]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetInvoiceByOrderId]
    @OrderId INT,
	@UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        o.OrderId,
        u.Name,
		u.Address,
        u.Email,
        o.TotalAmount,
        o.CreatedAt,
        o.PaymentStatus,
		p.TransactionId
    FROM Orders o
    INNER JOIN Users u ON o.UserId = u.UserId
	INNER JOIN Payments p ON p.OrderId = o.OrderId
    WHERE o.OrderId = @OrderId
	AND o.UserId =@UserId;


    SELECT
        p.Name,
        oi.Quantity,
        oi.Price,
        (oi.Quantity * oi.Price) AS SubTotal
    FROM OrderItems oi
    INNER JOIN Products p ON oi.ProductId = p.ProductId
        INNER JOIN Orders o
        ON oi.OrderId = o.OrderId

    WHERE oi.OrderId = @OrderId
      AND o.UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrdersByUser]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOrdersByUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        o.OrderId,
        o.TotalAmount,
        o.PaymentStatus,
        o.Status,
        o.CreatedAt,
		p.TransactionId
    FROM Orders o
	INNER JOIN Payments p ON o.OrderId = p.OrderId
    WHERE o.UserId = @UserId
    ORDER BY o.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductsById]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProductsById]
@ProductId int
AS
BEGIN
SELECT 
P.ProductId,
P.Name,
P.Description,
P.Category,
P.Price,
 ISNULL(P.Rating, 0) AS Rating,
P.Stock,
P.Brand,
P.Images,
    (
        SELECT COUNT(*)
        FROM Reviews R
        WHERE R.ProductId = P.ProductId
        AND R.isDeleted = 0
    ) AS TotalReviews
 FROM Products AS P
 WHERE ProductId = @ProductId
 AND P.isDeleted = 0;
 END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductSuggestions]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProductSuggestions]
    @SearchText VARCHAR(100)
AS
BEGIN

IF (@SearchText  IS NULL  OR @SearchText='')
return;

    SELECT TOP 10
        ProductId,
        Name,
		Images
    FROM Products
    WHERE isDeleted = 0
        AND LOWER(Name) LIKE LOWER(@SearchText) + '%'
    ORDER BY 
	CASE
	WHEN LOWER(Name) = LOWER(@SearchText) THEN 1
	WHEN LOWER(Name) LIKE LOWER(@SearchText) + '%' THEN 2
	ELSE 3
	END,
	Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReviewsByProductId]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetReviewsByProductId]
    @ProductId INT
AS
BEGIN
    SELECT 
        r.Rating,
        r.Comment,
        r.CreatedAt,
        u.Name AS UserName,
		r.UserId
    FROM Reviews r
    JOIN Users u ON r.UserId = u.UserId
    WHERE r.ProductId = @ProductId
	AND r.isDeleted=0
    ORDER BY r.CreatedAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWishlistByUser]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetWishlistByUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        w.WishlistId,
        p.ProductId,
        p.Name,
        p.Price,
		P.Stock,
        p.Images
    FROM Wishlists w
    INNER JOIN Products p ON w.ProductId = p.ProductId
    WHERE w.UserId = @UserId
    ORDER BY w.Created_At DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReduceStock]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReduceStock]
    @OrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- ✅ Check stock availability
        IF EXISTS (
            SELECT 1
            FROM Products p
            INNER JOIN OrderItems oi ON p.ProductId = oi.ProductId
            WHERE oi.OrderId = @OrderId
              AND p.Stock < oi.Quantity
        )
        BEGIN
            RAISERROR('Insufficient stock for one or more products', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- ✅ Reduce stock
        UPDATE p
        SET p.Stock = p.Stock - oi.Quantity
        FROM Products p
        INNER JOIN OrderItems oi ON p.ProductId = oi.ProductId
        WHERE oi.OrderId = @OrderId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- 🔥 Handle error safely
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveCartById]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoveCartById]
@UserId int,
@ProductId int
AS
BEGIN
DELETE FROM Carts 
WHERE User_Id = @UserId AND Product_Id = @ProductId
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveFromWishlist]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoveFromWishlist]
    @UserId INT,
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Wishlists
    WHERE UserId = @UserId AND ProductId = @ProductId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemovePurchasedItems]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemovePurchasedItems]
    @UserId INT,
    @OrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE c
    FROM Carts c
    INNER JOIN OrderItems oi 
        ON c.Product_Id = oi.ProductId
    WHERE c.User_Id = @UserId
      AND oi.OrderId = @OrderId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SavePayment]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SavePayment]
    @OrderId INT,
    @UserId INT,
    @Amount DECIMAL(10,2),
    @Status VARCHAR(20),
    @PaymentMethod VARCHAR(50),
    @TransactionId NVARCHAR(100)
AS
BEGIN
    INSERT INTO Payments (
        OrderId,
        UserId,
        Amount,
        Status,
        PaymentMethod,
        TransactionId
    )
    VALUES (
        @OrderId,
        @UserId,
        @Amount,
        @Status,
        @PaymentMethod,
        @TransactionId
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchProducts]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchProducts]
(
    @SearchText VARCHAR(100) = NULL,
    @MinPrice DECIMAL(10,2)= NULL,
    @MaxPrice DECIMAL(10,2) = NULL,
    @Category VARCHAR(50) = NULL,
    @MinRating DECIMAL(3,2) = NULL,
	
    @Page INT,
    @PageSize INT
)
AS
BEGIN

    SET NOCOUNT ON; 

	
    -- First Result Set → Products
    SELECT 
        P.ProductId,
        P.Name,
        P.Description,
        P.Category,
        P.Price,
        P.Rating,
        P.Stock,
        P.Brand,
        P.Images,
        (
            SELECT COUNT(*)
            FROM Reviews R
            WHERE R.ProductId = P.ProductId
            AND R.isDeleted = 0
        ) AS TotalReviews
    FROM Products P
    WHERE P.isDeleted = 0
    AND (
        @SearchText IS NULL OR 
       P.Name LIKE '%' + @SearchText + '%' OR
        P.Description LIKE '%' + @SearchText + '%' OR
		P.Category LIKE '%' + @SearchText + '%'
    )

    AND (@MinPrice IS NULL OR P.Price >= @MinPrice)
    AND (@MaxPrice IS NULL OR P.Price <= @MaxPrice)

    AND (@Category IS NULL OR P.Category LIKE '%' + @Category + '%')

    AND (@MinRating IS NULL OR P.Rating >= @MinRating)
		
    ORDER BY P.ProductId

    OFFSET (@Page - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;


	    -- Second Result Set → Total Records
    SELECT COUNT(*)

    FROM Products P

    WHERE 
        P.isDeleted = 0

        AND (
            @SearchText IS NULL OR 
            P.Name LIKE '%' + @SearchText + '%' OR
            P.Description LIKE '%' + @SearchText + '%' OR
            P.Category LIKE '%' + @SearchText + '%'
        )

        AND (@MinPrice IS NULL OR P.Price >= @MinPrice)

        AND (@MaxPrice IS NULL OR P.Price <= @MaxPrice)

        AND (
            @Category IS NULL
            OR P.Category = @Category
        )

        AND (@MinRating IS NULL OR P.Rating >= @MinRating);

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCartQty]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCartQty]
@UserId int,
@ProductId int,
@Quantity int
AS
BEGIN
UPDATE Carts
SET Quantity = @Quantity
WHERE User_Id=@UserId AND Product_Id=@ProductId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrderPayment]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateOrderPayment]
    @OrderId INT,
    @PaymentStatus VARCHAR(20),
    @OrderStatus VARCHAR(30)
AS
BEGIN
    UPDATE Orders
    SET 
        PaymentStatus = @PaymentStatus,
        Status = @OrderStatus
    WHERE OrderId = @OrderId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProducts]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateProducts]
(
@ProductId INT,
@Name VARCHAR(50),
@Description VARCHAR(255),
@Category VARCHAR(50),
@Price DECIMAL(10,2),
@Stock INT, 
@Brand VARCHAR(50),
@Images VARCHAR(255)
)
AS 
BEGIN
UPDATE Products
SET 
Name = @Name,
Description=@Description,
Category=@Category,
Price=@Price,
Stock=@Stock,
Brand=@Brand,
Images = ISNULL(@Images, Images)
WHERE ProductId = @ProductId
AND isDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateReview]    Script Date: 5/26/2026 05:43:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateReview]
@UserId int,
@ProductId int,
@Rating DECIMAL(3,2),
@Comment nvarchar(max)
as
begin
UPDATE Reviews
SET
Rating = @Rating,
Comment = @Comment,
CreatedAt = GETDATE()
WHERE UserId = @UserId AND ProductId = @ProductId AND isDeleted=0;

UPDATE Products
SET Rating = (
SELECT ROUND(ISNULL(AVG(Rating),0),2)
FROM Reviews WHERE ProductId = @ProductId
AND isDeleted = 0 )
WHERE ProductId = @ProductId
AND isDeleted = 0 ;
END
GO
USE [master]
GO
